html
  head
    title= title
    link(rel="stylesheet", href="css/styles.css")


  body
    nav
      ul 
        li 
          a(href="/home") Kenyatta University
        li 
          a(href="#") Maseno University
        li 
          a(href="#") Egerton University
        li 
          a(href="#") Masai Mara University
        li 
          a(href="#") Kisii University
block content
      
    script(src="js/script.js") 
        
      

        
    
      